<div class="jumbotron">
  <h3 class="display-6 mb-3">{{employee.name}}</h3>
  <form action="/details/edit/{{detail.user}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                    <label for="amount">Amount (kg)</label>
                    <input type="text" class="form-control" value="{{detail.kiloGrams}}" name="amount">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                    <label for="loan">Loan (Rs)</label>
                    <input type="text" class="form-control" value="{{detail.loanAmount}}" name="loan">
              </div>
          </div>
      </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lastPayment">Last Bill Payment (Rs)</label>
                    <input type="text" class="form-control" value="{{detail.lastPayment}}" name="lastPayment" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="toBePaid">To Be Paid (Rs)</label>
                    <input type="text" class="form-control" value="{{tobepaid}}" name="toBePaid" readonly>
                </div>
            </div>
        </div>
        
        <hr class="my-4">
    <p class="lead">
        <button class="btn btn-dark btn-lg" name="update" value="update" type="submit">Update</button>
        <button class="btn btn-danger btn-lg" name="update" value="payment">Mark As Paid</button>
        <span class="display-20 float-right mt-2"> Rs {{user.amountPerKG}} /= Per KG</span>
    </p>
  </form>
</div>